<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAN18rYu9rCAiHUJJLdfxIT4Y9zsDEG8L0</string>
	<key>GCM_SENDER_ID</key>
	<string>1055157261197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rentApp</string>
	<key>PROJECT_ID</key>
	<string>rentapp-22a1b</string>
	<key>STORAGE_BUCKET</key>
	<string>rentapp-22a1b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1055157261197:ios:e1bd3c00bf91c0337463c4</string>
</dict>
</plist>